[Desktop Entry]
Name=Michi Music Player
Comment=Modern music player for Linux/KDE
Exec=michi-music-player
Icon=michi-music-player
Terminal=false
Type=Application
Categories=Audio;Music;Player;Qt;
StartupNotify=true
Keywords=music;player;audio;michi;
